bin/
obj/
*.exe
*.log
data/
server/data/
web/dist/
web/node_modules/
.DS_Store
nvr-data/
/models/
server/pkg/ai/models/

.gocache/
.gopath/
docker/payload.json
docker/test_*.py
docker/check_devs.py

# 部署脚本
scripts/
*.sh
!web/src/**/*.sh

# 保留文档目录
!docs/
